.container {
  overflow: hidden;
}

.content {
  display: flex;
  transition: transform .3s ease;
}

  .item {
    flex-shrink: 0;
    width: 80%;
    background-color: aliceblue;
    padding: 10rem 0;
    text-align: center;
    margin: 0 10%;
  }

.nav {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}