body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  max-width: 40rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

