.button {
  font-size: 1rem;
  font-family: var(--type-primary);
  padding: .8rem 1.2rem;
  border-radius: .4rem;
  border: none;
  min-width: 8rem;
  color: #764701;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: .1s;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px var(--color-primary);
}

.button:disabled {
  opacity: .5;
  cursor: wait;
}