.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.dados {
  list-style: none;
  padding: 0;
}

.titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dados li {
  margin-bottom: .5rem;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 2px;
  margin-right: 1rem;
  background-color: #ccc;
}