.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.imagens img {
  margin-bottom: 1rem;
}

.preco {
  padding: .5rem;
  border-radius: 4px;
  background-color: greenyellow;
  color: green;
}

.descricao {
  font-size: 1.2rem;
  line-height: 1.2;
}